.navbar {
  background: #2e7d32;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}


.nav-links a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.role {
  font-size: 14px;
  font-weight: normal;
  color: #000000;
}

.logout-btn {
  background: transparent;
  border: none;
  color: #000000;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  text-decoration: underline;
  color: #333;
}
